.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;

  &__title {
    margin-top: 2rem;
  }

  &__category-form {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: auto auto;

    &__button-container {
      display: flex;
      justify-content: center;
      gap: 5rem;

      button {
        width: 7rem;
      }
    }

    &__category-input {
      width: 100%;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
}

