<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title>Podaj nowe hasło</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="example-form" [formGroup]="passwordForm">
      <div class="field_row">
        <mat-form-field appearance="fill">
          <mat-label>Hasło</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordForm.controls['password'].hasError('requiresDigit')">
            Hasło powinno zawierać przynajmniej jedną cyfrę
          </mat-error>
          <mat-error *ngIf="passwordForm.controls['password'].hasError('requiresUppercase')">
            Hasło powinno zawierać dużą literę
          </mat-error>
          <mat-error *ngIf="passwordForm.controls['password'].hasError('requiresLowercase')">
            Hasło powinno zawierać małą literę
          </mat-error>
          <mat-error *ngIf="passwordForm.controls['password'].hasError('requiresSpecialChars')">
            Hasło powinno zawierać znak specjalny
          </mat-error>
          <mat-error *ngIf="passwordForm.controls['password'].hasError('minlength')">
            Hasło jest za krótkie
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Powtórz hasło</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.['mismatch']">
            Hasła się różnią
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      (click)="changePassword()"
      [disabled]="passwordForm.invalid"
      color="primary"
    >Zapisz</button>
  </mat-card-actions>
</mat-card>
