.activity-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: row;
    min-width: 560px;

    &__text{
      flex-direction: column;
      min-width: 300px;

      .date-range {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 13px;
        gap: 20px;

        .single-info {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }

      .info-text {
        display: flex;
        flex-wrap: nowrap;
        font-size: 13px;
        white-space: nowrap;
        margin-bottom: 5px;
      }
    }

    &__cost {
      display: flex;
      flex-direction: row;
      font-size: 13px;
      align-items: center;
      gap: 2rem;

      b {
        width: 100px;
      }
    }
  }

  &__icon-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    margin-right: 15px;
    margin-left: 10px;
  }
}

mat-card {
  min-width: 730px;
}

.red-text {
  color: red;
}
