<div class="side-navigation">
  <div class="side-navigation__button_container">
    <app-nav-button icon="newspaper" route="/news" label="Aktualności">
    </app-nav-button>

    <app-nav-button
      icon="extension"
      route="/my-activities"
      label="Moje zajęcia"
      [role]="UserRoleTs.CHILD"
    >
    </app-nav-button>

    <app-nav-button
      icon="calendar_month"
      route="/activities"
      label="Oferta zajęć"
    >
    </app-nav-button>

    <app-nav-button
      icon="school"
      route="/instructor"
      label="Instruktor"
      [role]="UserRoleTs.INSTRUCTOR"
    >
    </app-nav-button>

    <app-nav-button
      icon="work"
      route="/manage"
      label="Pracownik"
      [role]="UserRoleTs.EMPLOYEE"
    >
    </app-nav-button>
  </div>

  <div
    *ngIf="contactInfo | async as contactInfo"
    class="side-navigation__contact-info"
  >
    <p>{{ contactInfo.addressFirstLine }}</p>
    <p>{{ contactInfo.addressSecondLine }}</p>
    <div class="side-navigation__contact-info__space"></div>
    <p>{{ contactInfo.email }}</p>
    <p>{{ contactInfo.phoneNumber }}</p>
    <div class="side-navigation__contact-info__space"></div>
    <a
      *ngIf="contactInfo.facebookUrl"
      class="side-navigation__contact-info-social__button"
      href="{{ contactInfo.facebookUrl }}"
      role="button"
    >
      <i class="fab fa-facebook-f fa-lg"></i>
    </a>
    <a
      *ngIf="contactInfo.instagramUrl"
      class="side-navigation__contact-info-social__button"
      href="{{ contactInfo.instagramUrl }}"
      role="button"
    >
      <i class="fab fa-instagram fa-lg"></i>
    </a>
  </div>
</div>
