<div class="container">
  <div class="info">
    <mat-card class="card">
      <div>
        <mat-card-header class="card__header">
          <mat-card-title>
            <h2>
              Witaj {{user?.firstName}}
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-user">
          <div class="card__user-info">
            <p class="card-user__info">Imie: <span class="card-user__info__text">{{user?.firstName}}</span></p>
            <p class="card-user__info">Nazwisko: <span class="card-user__info__text">{{user?.lastName}}</span></p>
            <p class="card-user__info">Email: <span class="card-user__info__text">{{user?.email}}</span></p>
            <p class="card-user__info">Data urodzenia: <span class="card-user__info__text">{{user?.birthdate}}</span>
            </p>
            <p class="card-user__info">Telefon: <span
              class="card-user__info__text">{{user?.phoneNumber ? user?.phoneNumber : "Brak"}}</span></p>
            <p class="card-user__info">Newsleter: <span
              class="card-user__info__text">{{user?.getsNewsletter ? "Zapisany" : "Nie zapisany"}}</span></p>
          </div>
        </mat-card-content>
      </div>
      <mat-card-actions class="card-user__actions">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            class="card-user__actions__button"
            (click)="editAccount()"
          >
            <mat-icon color="accent">
              edit
            </mat-icon>
            Edytuj dane
          </button>
          <button
            mat-menu-item
            color="accent"
            class="card-user__actions__button"
            (click)="addChild()"
          >
            <mat-icon color="accent">
              person_add
            </mat-icon>
            Dodaj dziecko
          </button>
          <button
            mat-menu-item
            class="card-user__actions__button"
            (click)="changePasswordRequest()"
          >
            <mat-icon color="warn">
              lock
            </mat-icon>
            Zmień hasło
          </button>
        </mat-menu>
      </mat-card-actions>

      <mat-card-footer *ngIf="!user">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <app-connected-accounts></app-connected-accounts>

  </div>

  <div class="activities">
    <app-my-activity-list [activities]="userActivities"></app-my-activity-list>
  </div>

</div>
