
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.list-item{
  transition: background-color 0.2s ease;
  border-radius: 10px !important;

  &__container{
    display: flex;
  }
}

.list-item:hover{
  background-color: #d0cfcf;
}
