<app-password-inputs
  class="container"
  *ngIf="changePasswordPage"
  [code]="code"
  [passwordChangeInfo]="passwordChangeInfo"
>
</app-password-inputs>
<div class="container" *ngIf="!changePasswordPage">
<mat-card class="card">
  <mat-card-header class="card__header">
    <mat-card-title>Podaj kod weryfikacji z maila by zmienić hasło</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card__code-container">
      <code-input
        class="card__code-container__code"
        [isCodeHidden]="false"
        [codeLength]="6"
        (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <countdown [config]="config"
      (event)="handleEvent($event)"
      ></countdown>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="passwordChangeRequest()">Wyślij ponownie</button>
    <button mat-button (click)="validateChangePasswordCode()">Dalej</button>
  </mat-card-actions>
</mat-card>
</div>
