.container{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;

  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__code-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    &__code{
      width: 80%;
    }
  }
}
