.category-filter-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 65px;

  button {
    margin-bottom: 7px;
  }
}

.filter-select {
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-90%);
  transition: transform 0.4s ease;
  opacity: 0;
}

.filter-select.show {
  transform: translateX(-120%);
  opacity: 1;
}

.filter-button {
  position: relative;
  z-index: 1;
}
